<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mersin.ab2014androidb"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mersin.ab2014androidb.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sayfalar.Detaylar"
            android:label="@string/title_activity_detaylar" >
        </activity>
        <activity
            android:name="sayfalar.YeniKayit"
            android:label="@string/title_activity_yeni_kayit" >
        </activity>
        <activity
            android:name="sayfalar.Duzenle"
            android:label="@string/title_activity_duzenle" >
        </activity>
    </application>

</manifest>
